In [111]:
import numpy as np
import pandas as pd

In [112]:
df = pd.read_csv(r'Demographic Data Analyzer.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Q.1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [113]:
race_counts=df["race"].value_counts()
print(race_counts)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

Q.2. What is the average age of men?

In [114]:
average_age_men=df[df["sex"]=="Male"]["age"].mean()
print('average age of men:')
average_age_men

average age of men:

39.43354749885268

Q.3. What is the percentage of people who have a Bachelor's degree?

In [115]:
No_of_bachelors = len(df[df["education"]=="Bachelors"])
No_of_bachelors

5355

In [116]:
No_of_candidate = len(df["education"])
No_of_candidate

32561

In [117]:
bachelors_percentage = (No_of_bachelors/No_of_candidate)*100
print("Percentage of people who have a Bachelor's degree:")
print(bachelors_percentage)

Percentage of people who have a Bachelor's degree:
16.44605509658794

Q.4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [157]:
Edu_Bach = df[df["education"]=="Bachelors"]
Edu_Mast = df[df["education"]=="Masters"]
Edu_Doct = df[df["education"]=="Doctorate"]
Total_Adv_Edu = len(Edu_Bach)+len(Edu_Mast)+len(Edu_Doct)

In [239]:
No_Edu_Bach = len(Edu_Bach[Edu_Bach["salary"]==">50K"])
No_Edu_Mast = len(Edu_Mast[Edu_Mast["salary"]==">50K"])
No_Edu_Doct = len(Edu_Doct[Edu_Doct["salary"]==">50K"])

In [238]:
Rich_Adv_edu = No_Edu_Bach+No_Edu_Mast+No_Edu_Doct
Prcntg_Rich_Adv_Edu = (Rich_Adv_edu/Total_Adv_Edu)*100
print("Percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K:")
Prcntg_Rich_Adv_Edu

Percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K:

46.535843011613935

Q.5. What percentage of people without advanced education make more than 50K?

In [186]:
Not_Adv_Edu = df[df["education"]!="Bachelors"]
Not_Adv_Edu = Not_Adv_Edu[Not_Adv_Edu["education"]!="Masters"]
Not_Adv_Edu = Not_Adv_Edu[Not_Adv_Edu["education"]!="Doctorate"]

In [187]:
Rich_Not_Adv_Edu = Not_Adv_Edu[Not_Adv_Edu["salary"]==">50K"]

In [188]:
Prcntg_Rich_Not_Adv_Edu = (len(Rich_Not_Adv_Edu)/len(Not_Adv_Edu))*100
print("Percentage of people without advanced education make more than 50K:")
Prcntg_Rich_Not_Adv_Edu

Percentage of people without advanced education make more than 50K:

17.3713601914639

Q.6. What is the minimum number of hours a person works per week?

In [192]:
print("Minimum number of hours a person works per week:")
df["hours-per-week"].min()

Minimum number of hours a person works per week:

1

Q.7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [205]:
people = df[df["hours-per-week"]==1]
rich_people = people[people["salary"]==">50K"]
Prcntg_rich_people = (len(rich_people)/len(people))*100
print("Percentage of the people who work the minimum number of hours per week have a salary of more than 50K:")
Prcntg_rich_people

Percentage of the people who work the minimum number of hours per week have a salary of more than 50K:

10.0

Q.8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [246]:
df1 = df[df["salary"]==">50K"]
print("The country that has the highest percentage of people that earn >50K:")
df1["native-country"].value_counts().idxmax()

The country that has the highest percentage of people that earn >50K:

'United-States'

In [247]:
Number = df1["native-country"].value_counts().max()

In [248]:
Number

7171

In [249]:
len(df["salary"])

32561

In [250]:
len(df[df["salary"]==">50K"])

7841

In [251]:
print("The % of people who earns more than 50K is:")
(Number/len(df[df["salary"]==">50K"]))*100

The % of people who earns more than 50K is:

91.45517153424308

Q.9. Identify the most popular occupation for those who earn >50K in India.

In [260]:
df2 = df[df["native-country"]=="India"]
df2 = df2[df2["salary"]==">50K"]
print("The most popular occupation for those who earn >50K in India:")
df2["occupation"].value_counts().idxmax()

The most popular occupation for those who earn >50K in India:

'Prof-specialty'